<div class="input-block {{block-class}}">
    <input
            name="{{input-name}}"
            focus="{{focus}}"
            blur="{{blur}}"
            type={{type}}
            class="input-block__input {{input-class}}"
            placeholder="{{placeholder}}"
            value="{{value}}"
    />
</div>