<div class="input-block {{block-class}}">
    <input
            name="{{input-name}}"
            onfocus="{{{onfocus}}}"
            onblur="{{{onblur}}}"
            type={{type}}
            class="input-block__input {{input-class}}"
            placeholder="{{placeholder}}"
            value="{{value}}"
    />
</div>