<div class="input-block {{block-class}}">
    <div class="input-block__error">
        <p name="{{input-name}}"></p>
    </div>
    <input
            name="{{input-name}}"
            type={{type}}
            class="input-block__input {{input-class}}"
            placeholder="{{placeholder}}"
            value="{{value}}"
    />
</div>