<div class="auth-page">
    <Header class="auth-page__header header">
        <div class="header-logo">
            <Image class="header-logo-content" src="../images/Deadlinez.png"></Image>
        </div>
        <div class="button button-play" click="{{{ stringifyFunc play }}}">
            <p class="button-play__value">PLAY</p>
        </div>
        <UserInfo login="{{login}}" coins="645" points="1080" avatar="{{{avatar}}}">
            <SettingsButton click="{{{ stringifyFunc goToSettings }}}"></SettingsButton>
            <SignoutButton click="{{{ stringifyFunc signOut }}}"></SignoutButton>
        </UserInfo>
    </Header>

    <div class="auth-page__content">
        <div class="auth-page__content-left">
            <div class="auth-page__content-left-modal">
                <div class="auth-page__content-left-modal-header modal-header">
                    <AuthHeaderPoint class="news-header" click="{{{ stringifyFunc goToNews }}}">News</AuthHeaderPoint>
                    <AuthHeaderPoint class="leaderboard" click="{{{ stringifyFunc goToScore }}}">Scoreboard</AuthHeaderPoint>
                </div>
                <AuthContent id="modal-data"></AuthContent>
            </div>
        </div>

        <div class="friends-modal hidden">
            {{#if inFriends}}
                <FriendAction click="{{{stringifyFunc inviteToParty }}}">Invite</FriendAction>
            {{else}}
                <FriendAction click="{{{ stringifyFunc addToFriends }}}">Add to friends</FriendAction>
            {{/if}}
        </div>

        <div class="auth-page__content-right">
            <div class="auth-page__content-right-hide">
                <HideFriendsButton click="{{{ stringifyFunc hideFriends }}}"></HideFriendsButton>
                <div class="friends">
                    <div class="friends-header">
                        <div class="friends-header-point" click="{(){changeFriendsOrPeople(true);}">
                            <p class="friends-header-point-value">Friends</p>
                        </div>
                        <div class="friends-header-point" click="{(){changeFriendsOrPeople(false);}">
                            <p class="friends-header-point-value">People</p>
                        </div>
                    </div>
                    <PeopleSearch>
                        <Image class="search__button" src="../images/search.png" click="{{{ stringifyFunc search }}}"></Image>
                    </PeopleSearch>

                    <div class="friends-data">
                    {{#each people}}
                        <Friend avatar="{{{this.avatar}}}" login="{{this.login}}" click="{(event){showFriendActions(event);}"></Friend>
                    {{/each}}
                    </div>
                </div>
            </div>

            <Party class="content-right-party">
                {{#each party}}
                    <div class="party__friend">
                        <Image class="party__friend-logo" src="{{{this.avatar}}}"></Image>
                    </div>
                {{/each}}
            </Party>
        </div>
    </div>
    <ConfirmDialog class="hidden" avatar="{{{request.avatar}}}" login="{{request.login}}" message="{{request.message}}">
        <div class="confirm-modal">
            <p class="confirm-modal__message">{{message}}</p>
            <div class="confirm-modal__info">
                <Image class="confirm-modal__info-avatar" src="{{{avatar}}}"></Image>
                <p class="confirm-modal__info-login">{{login}}</p>
            </div>
            <div class="confirm-modal__accept">
                <Button click="(){acceptFriend(true);}">Accept</Button>
                <Button click="(){acceptFriend(false);}">Decline</Button>
            </div>
        </div>
    </ConfirmDialog>
</div>